# os
**/.DS_Store
**/Thumbs.db

# deps
**/node_modules

# output
**/.svelte-kit
**/build
**/target
**/dist

# env
**/.env
**/.env.*

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# turbo
.turbo
