**/.DS_Store
**/node_modules
**/build
**/dist
**/target
**/package
**/.env
**/.env.*
**/!.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
**/.svelte-kit
**/.wrangler
**/.turbo
**/.output
**/Thumbs.db
**/pnpm-lock.yaml
**/package-lock.json
