@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-white/15;
	}
	body {
		@apply bg-black text-white;
	}
	@font-face {
		font-family: "Inter";
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url(/fonts/Inter.ttf) format("truetype");
	}
	@font-face {
		font-family: "Neue Montreal";
		font-style: normal;
		font-weight: 530;
		font-display: swap;
		src: url(/fonts/PPNeueMontreal.otf) format("opentype");
	}
}
