@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-white/20;
	}
	body {
		@apply bg-black text-white;
	}
	@font-face {
		font-family: "Manrope";
		src: url("/fonts/Manrope-VariableFont_wght.ttf");
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
	}
}
